NEXTAUTH_SECRET=your_nextauth_secret_here
NEXT_PUBLIC_BASE_URL=http://localhost:5000/api/v1

# GITHUB_ID=
# GITHUB_SECRET=

# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
# STRIPE_SECRET_KEY=
